body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: antiquewhite;
}

.draggable {
  position: absolute;
  cursor: move;
}

.box {
  background: skyblue;
  padding: 160px 120px;
  border-radius: 8px;
}
